/* Error message showed in settings page when no profiles are found */
.aws-s3-sync-no-profile{
    text-align: center;
    display: inherit;
    color: var(--text-error);
    margin-bottom: 0;
}

/* Status bar */

.aws-s3-sync-status-bar-item {
    cursor: pointer;
}
